spec: 'component-validator?icp#0.1.2'
config:
   redisUrl:
      type: 'string'
   redisKeyspace:
      type: 'string'
   location:
      defaultValue: '/'
   port:
      defaultValue: 8080
state:
   redisClient: {}
   expressApp: {}
   expressServer: {}
   startTimestamp: 0
   ended: false
