spec: 'component-validator?icp#0.1.2'
config:
   redisUrl:
      type: 'string'
   redisKeyspace:
      type: 'string'
   hostname:
      type: 'string'
   location:
      defaultValue: '/'
   keyspaceHostname:
      optional: true
      type: 'string'
   port:
      defaultValue: 8080
   expire:
      type: 'duration'
      unit: 'seconds'
      max: 999
   registerLimit:
      defaultValue: 2000
      type: 'duration'
      unit: 'millis'
      max: 9000
   defaultFormat:
      defaultValue: 'plain'
      allowedValues: ['html', 'plain', 'line']
   indexCommand:
      defaultValue: 'getconfig'
   secureDomain:
      type: 'boolean'
      defaultValue: false
   certLimit:
      defaultValue: 4
      max: 99
   registerLimit:
      defaultValue: 2
      unit: 'per second'
   importLimit:
      defaultValue: 2
      unit: 'per second'
   adminLimit:
      defaultValue: 1
      unit: 'seconds'
   addClientIp:
      defaultValue: false

state:
   redisClient: {}
   expressApp: {}
   expressServer: {}
   commands: []
   startTimestamp: 0
   ended: false
