props:
   memo:
      type: 'string'
   sourceModule:
      type: 'string'
   redisUrl:
      type: 'string'
   redisKeyspace:
      type: 'string'
   requireHook:
      type: 'string'
      optional: true
context:
   sourceModule:
      type: 'object'
   audit:
      type: 'object'
